@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE and old Edge */
* {
  -ms-overflow-style: none;
}
